<nav>
    <a class="link" href="/">
        <div class="monogram">BM</div>
    </a>
    <a class="link" href="/projects/"> Portfolio</a>
    <a class="link" href="/resume/"> Resume</a>
    <div class="socials">
        <a
            href="https://www.linkedin.com/in/bryan-montalvan/"
            class="social"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/assets/linkedin.svg" class="socialIcon" />
        </a>
        <a
            href="https://github.com/bryanmontalvan"
            class="social"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/assets/github.svg" class="socialIcon" />
        </a>
    </div>
</nav>

<style>
    nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    @media (max-width: 750px) {
        nav {
            margin: 0;
        }
    }

    .link {
        color: var(--t-subdue);
        display: block;
        text-decoration: none;
        font-size: 1em;
        text-transform: uppercase;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    .link:hover,
    .link:focus {
        color: black;
    }

    .monogram {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        margin-right: 0.5rem;
        color: var(--c-black);
        font-weight: 900;
        letter-spacing: -0.125rem;
    }

    .socials {
        display: flex;
        gap: 0.75em;
        margin-left: auto;
    }

    .social {
        display: block;
    }

    .socialIcon {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    .socialIcon:hover {
        fill: black;
    }
</style>
